*
{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

.App
{
    width:100%;
    height:100%;
    display:grid;
    grid-template-areas: "header header"
    "nav  main"
    "nav  main";
    grid-auto-rows: 58px;
    grid-template-columns:230px 1fr;
    color:white;
    font-family:'Open Sans';
}

.header-container
{
    grid-area: header;
    background:rgba(40, 40, 40, 0.98);
}

.nav-container
{
    grid-area: nav;
    min-height:94vh;
    height:fit-content;
    background:#202020;
}

.main-container
{
    grid-area: main;
    min-height:94vh;
    height:fit-content;
    background:#131313;
}

.header
{
    background:rgba(40, 40, 40, 0.98);
    width:100vw;
    height:58px;
    position:fixed;
    top:0;
    left:0;
    display:grid;
    grid-template-columns:230px 1fr;
    align-content: center;
    z-index:1;
}

.header-title
{
    text-align:center;
}

.search
{
    box-sizing: border-box;
    background:#131313;
    border:1px solid hsla(0, 0%, 100%, .08%);
    height:38px;
    min-width:400px;
    border-radius:3%;
    color:white;
    font-family:'Open Sans';
    padding-left:5px;
}

.search-div
{
    display:flex;
    position:relative;
}

.search-img-div
{
    height:38px;
    width:100px;
    background:rgb(71, 71, 245);
    border-radius:3%;
    cursor:pointer;
}

.search-img
{
    position:absolute;
    left:435px;
    top:6px;
}
.header-management
{
    display:flex;
    justify-content: space-evenly;
}

.avatar-div
{
    height:40px;
    width:40px;
    border-radius:50%;
    position:relative;
    margin-right:20px;
    background: rgba(255,255,255,0.15);
}

.avatar-div:hover
{
    background: rgba(1,255,255,0.15);
    cursor:pointer;
}

.avatar-img
{
    position: absolute;
    top:1px;
    left:1px;
    height:38px;
}

.nav div
{
    padding:10px 0;
    font-family:'Open Sans';
}

.add-container
{
    margin-top:15px;
    display:flex;
    cursor:pointer;
    
}

.fav-container
{
    display:flex;
    cursor:pointer;
}

.history-container
{
    display:flex;
    cursor:pointer;
}

.nav div
{
    transition: 0.2s all ease-in-out;
}

.nav > div:hover
{
    background: rgba(255,255,255,0.15);
}

.add
{
    width:60px;
    position:relative;
}
.add img
{
    height:30px;
    position:absolute;
    left:10px;
}

.history img, .fav img
{
    height:20px;
    position:absolute;
    left:10px;
}

.history, .fav
{
    width:50px;
    position:relative;
}

.create
{
    font-size:20px;    
}

.search-img
{
    height:25px;
}

.note-list
{
    padding:25px;
    border-bottom: rgba(255,255,255,0.15) solid 1px;
    display:flex;
    justify-content: space-around;
}

.title
{
    font-weight:bold;
    overflow:hidden;
    width:15vw;
}

.desc
{
    overflow:hidden;
    width:25vw;
    position:relative;
    color:#aaa;
}

.main
{
    background:#131313;
}

.nav
{
    position:fixed;
    height:94vh;
    width:230px;
    background:#202020;
}

.create-container
{
    position:fixed;
    bottom:0;
    right:0;
    width:550px;
    height:50%;
    z-index:33;
    background:#fff;
    border-top-left-radius:2%;
}

textarea
{
    resize: none;
}

.note-header
{
    border-top-left-radius:2%;
    background:rgba(40, 40, 40, 0.98);
    padding:10px;
    position:relative;
}

.note-header p
{
    position:absolute;
    top:5px;
    right:10px;
    font-size:20px;
    cursor:pointer;
}

.title-note input
{
    width:100%;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.15);
    padding:10px;
}

.description textarea
{
    width:100%;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.15);
    height:inherit;
    height:320px;
    padding:10px;
}

.send-button-div
{
    position:relative;
    height:100px;
}

.send-button
{
    position:absolute;
    padding:10px 35px;
    left:10px;
    top:5px;
    font-family:'Open Sans';
    background:rgb(71, 71, 245);
    border-radius: 2%;
    border:none;
    color:white;
    font-weight:bold;
}

.starIcon
{
    height:20px;
    cursor:pointer;
    transition:0.3s ease-in-out all;
}
.starIcon:hover,.note-header p:hover
{
    transform:translateY(-2px);
}

h3
{
    text-align:center;
    margin-top:20px;
}

.no-display

{
    display:none;
}



@media only screen and (max-width: 1000px) {
    .header-management {
        justify-content: space-between;
    }
  }